/* ** SOLO AGREGA BORDES PARA VER TAMAÑOS DE ELEMENTOS ** */

/* GLOBAL SETTINGS */

.max-w-all {
	border: 3px solid #f00;
}

/* /GLOBAL SETTINGS */
/* NAVBAR (por fuera y arriba del Header) */

.navbar {
	border: 3px solid #0cf;
}
.navbar-wrapper {
	border: 3px solid #ff0;
}
.navbar-sticky {
	border: 3px solid #0cf;
}
.navbar__logo {
	border: 3px solid #0d0;
}
.logo {
	border: 3px solid #f00;
}
.navbar__btn-toggle-menu {
	border: 3px solid #888;
}
.btn-open, .btn-close {
	border: 3px solid #f0f;
}
.navbar__main-menu-opened {
	border: 3px solid #f00;
}
.navbar__main-menu {
	border: 3px solid #05f;
}
.main-menu__items {
	border: 3px solid #0f0;
}
.item__links {
	border: 3px solid #ff0;
}
.link {
	border: 3px solid #d73;
}
.link:hover {
	border: 3px solid #d73;
}

/* /NAVBAR (por fuera y arriba del Header) */
/* HEADER */

.header {
	border: 3px solid #0f0;
}
.header__container {
	border: 3px solid #ff0;
}
.header-container__title {
	border: 3px solid #00f;
}
.header-container__description {
	border: 3px solid #d73;
}

/* /HEADER */
/* MAIN */

.main {
	border: 3px solid #f0f;
}
.main__container {
	border: 3px solid #0b0;
}
.main-section__container {
	border: 2px dotted #f00;
}
.section__content {
	border: 3px solid #d73;
}
.section__img {
	border: 3px solid #f00;
}
.img {
	outline: 3px solid #00f;
}
.content__title {
	border: 3px solid #fc0;
}
.content__text {
	border: 3px solid #0cd;
}
.content__button {
	border: 3px solid #f0f;
}
.section__carrousel {
	border: 3px solid #d73;
}
.carrousel__item {
	border: 3px solid #ff0;
}
.carrousel__img {
	border: 3px solid #0f0;
}
.carrousel__arrow-button {
	border: 3px solid #f0f;
}

/* /MAIN */

/* -----------------MEDIA QUERY DESKTOP--------------- */
@media (min-width: 48rem) { 
	

	
	.gallery-container__item {
		border: 3px solid #f00;
	}
	.item__img-link {
		border: 3px solid #ff0;
	}
	.item__img-link:hover {
		border: 3px solid #ff0;
	}
	.img-link__img {
		border: 3px solid #0f0;
	}
	.item__title {
		border: 3px solid #00f;
	}

    /* /MAIN Desktop -- Galería. */
    /*-------------------------------------------------------------------*/
	/* FOOTER Desktop -- Pie de página, el mismo para todas. */
	
	.footer-wrapper {
		border: 3px solid #0c0;
	}
	.footer__r-logo-sq {
		border: 3px solid #f00;
	}
	.footer__container {
		border: 3px solid #d73;
	}
	/*.footer-container__media-title {
		border: 3px solid #f00;
	}*/
	.footer-container__footer-menu {
		border: 3px solid #f0f;
	}
	.footer-container__media-icons {
		border: 3px solid #ff0;
	}
	.footer-container__copyright {
		border: 3px solid #07f;
	}
	.r-logo-sq {
		border: 3px solid #0ff;
	}
	.media-icon {
		border: 2px dashed #0ff;
	}
	.footer-menu {
		border: 3px solid #00f;
	}
	.footer-menu__item {
		border: 3px solid #f00;
	}
	.footer-item__link {
		border: 3px solid #0f0;
	}

	/* /FOOTER Desktop -- Pie de página, el mismo para todas. */
    /*-------------------------------------------------------------------*/
}

/* ---------------/ MEDIA QUERY DESKTOP--------------- */

/* ================== / HOME PAGE ===================== */
/* ______________________________________________________ */
/* =================== GALLERY ===================== */



/* ================== / GALLERY ===================== */

